* {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #21243d;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 23.5px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;

  margin: 0 auto;
  padding: 27px 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  font-weight: 900;
}

header a {
  padding: 0 5px;
}

.navMenu {
  display: flex;
  justify-content: end;
  gap: 30px;
}


.profile {
  min-height: calc(100vh - 84px);
  display: flex;
  align-items: center;
  gap: 110px;
  /* padding: 0 148px; */
}

.profileInfo h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
}

.profileInfo div {
  margin-bottom: 40px;
}

.profileInfo button {
  width: 208px;
  height: 47px;
  background-color: #ff6464;
  color: white;
  border: 0;
  padding: 0;
  font-size: 20px;
}

.profileImage img {
  width: 243px;
  height: 243px;
  border-radius: calc(243px / 2);
  box-shadow: -4px 4px 8px 0 rgb(0, 81, 119);
}

.postBackground {
  background-color: #edf7fa;
  margin: 0;
}

.recentPosts {
  /* padding: 17px 148px 32px; */
  padding: 17px 0 32px;
}

.postsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postsHeader .viewAll {
  padding: 0 5px;
  color: #00a8cc;
}

.postsHeader h3 {
  font-size: 22px;
  line-height: 60px;
}

.posts {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #21243d;
}

.posts a {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

.singlePost h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  margin-bottom: 17px;
}

.singlePost .postsInfo {
  display: flex;
  gap: 20px;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 17px;
  color: #21243d;
}

.works {
  margin-bottom: 83px;
  /* padding: 15px 148px 0; */
  padding: 15px 0 0;
}

.works h3 {
  font-size: 22px;
  line-height: 60px;
  margin-bottom: 22px;
}

.workPost {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.workPost a {
  display: flex;
  gap: 18px;
  padding : 15px;
  border-bottom: 1px solid #e0e0e0;
}

.workImage img {
  border-radius: 6px;
  display: block;
}

.workType {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  color: #8695a4;
  font-size: 20px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 25px;
}

.year {
  width: 63px;
  height: 25px;
  border-radius: calc(25px / 2);
  background-color: #142850;
  color: white;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 51px 0 26px;
}

.footer li {
  margin: 0 calc(35px / 2);
}

.socialsIcon {
  display: block;
  height: 30px;
  width: 30px;
}

.disclaimer {
  text-align: center;
  padding-bottom: 54px;
}

button:hover {
  background-color: grey;
  color: white;
}

.workPost a:hover, .posts a:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.212);
}

header nav > a:hover {
  font-size: 28px;
  margin-left: -14px;
  transition: all 0.5s ease-in-out;
}

header ul a:hover {
  border-radius: 5px;
  background-color: #0000001e;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.212);
}

.postsHeader a:hover {
  color: blue;
  border: 1px solid blue;
}

.socialsIcon:hover{
  width: 50px;
  height: 50px;
  margin: -10px;
  transition: all 0.3s ease;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color:#21243d;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  header li {
    display: none;
  }

  header .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
  flex-direction: column;
  gap: 5px;
  }

.profile {
      height: calc(100vh - 54px);
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }

  .profileInfo {
    width: 100vw;
    margin: 34px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .profileInfo h1 {
    width: 312px;
    margin-bottom: 21px;
  }

  .profileInfo div {
    width: 328px;
    margin-bottom: 27px;
  }

  .recentPosts {
    padding: 0 0 38px;
  }

  .postsHeader {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .viewAll {
    display: none;
  }

  .posts {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .posts a {
    margin: 0 auto;
    margin-bottom: 17px;
  }

  .posts .singlePost .postInfo {
    margin-bottom: 19px;
  }

  .posts .singlePost p {
    margin: 0;
    width: 324px;
  }

  .works {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .works a {
    width: 375px;
  }

  .workPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .works h3 {
    margin: 0;
    text-align: center;
  }

  .works div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
  }

  .works .workPost a img {
    align-self: center;
    width: 339px;
    height: 230px;
    margin: 0;
    margin-bottom: 17px;
  }

  .works .singlePost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: 17px;
  }

  .works .singlePost h2 {
    margin: 0;
    height: 30px;
    margin-bottom: 16px;
  }

  .works .singlePost .workType {
    margin: 0;
    margin-bottom: 25px;
  }

  .works .singlePost p {
    margin: 0;
  }

}
